<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmVdDXrOrhZsaRasfWggl6RAfk-yjRqg8</string>
	<key>GCM_SENDER_ID</key>
	<string>70256622721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gillianhu.studyapp</string>
	<key>PROJECT_ID</key>
	<string>lenovo-ai-team-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lenovo-ai-team-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70256622721:ios:2bae2d2819863380fc2180</string>
</dict>
</plist>